@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --text-color: rgba(255, 255, 255, 1);
    --paragraph-color: rgb(187, 185, 185);
    --green-color: rgba(0, 255, 136, 1);
    --bg-color: #1A0B2E;
    --yellow-color: #F7E93F;
    --blue-color: #9100F8;
    --pink-color: #FB09B4;
}


.nav-section ul li a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.nav-section ul li a:hover {
    color: var(--pink-color);
}



.btn {
    background: linear-gradient(15deg, var(--yellow-color), var(--blue-color), var(--pink-color));
    padding: 10px 20px;
    border: 1px solid #1A0B2E;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 1px solid var(--green-color);
    color: var(--green-color);

}

.btn-green {
    background: transparent;
    border: 1px solid var(--green-color);
    color: var(--green-color);
    padding: 10px 20px;
    cursor: pointer;
}

.btn-green:hover {
    background: linear-gradient(15deg, var(--yellow-color), var(--blue-color), var(--pink-color));
    padding: 10px 20px;
    border: 1px solid #1A0B2E;
    color: #ffffff;
}

hr {
    border: 1px solid #553e7246;
    margin: 20px 0px;
}


/* hero-section  */

.hero-section {
    /* height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

}



.hero-section .hero-image {
    width: 300px;
}

.hero-section .hero-image img {
    width: 100%;
    position: relative;
    bottom: 20px;
}

.here-context {
    text-align: center;
}

/* about-section */

.about-review .item h3 {
    color: var(--green-color);
    font-size: 48px;
    font-weight: bold;
}

.about-review .item p {
    color: var(--paragraph-color);
    font-size: 16px;
}


/* featured-cards */





.host-cart .host-image {
    width: 300px;
    height: 300px;
}


.host-cart .host-image img {
    width: 100%;
}


.host-social-link .social-link-item {
    width: 30px;
    border: 1px solid white;
    padding: 7px;
    border-radius: 100%;

}

.host-social-link .social-link-item img {
    width: 100%;
}


.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}


.footer-icon {
    margin-top: 30px;
}

.footer-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

}

.footer-link-item img {
    width: 10%;
    height: 90%;
}